.about{
    margin: 20px;

    h1{
        font-size: 48px;
        text-align: center;
    }

    p.about-p{
        text-align: center;
        margin-top: 15px;
        font-size: 24px;
    }

    .cards{
        display: flex;
        margin-top: 50px;

        

        .card{
            margin-right: 15px;
            background-color: var(--primary-color);
            padding: 15px;
            color: #fff;
            border-radius: 3px;
            width: 100%;

            p{
                line-height: 1.5;
                margin-bottom: 10px;
            }
        }
    }
}