@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #34495E;
    --secondary-color: #3498DB;
    --secondary-hover-color: rgba(255, 255, 255, 0.3);
    --success-color: green;
    --success-hover-color: rgb(0,100,0);
    --danger-color: rgb(255, 60, 0);
    --danger-hover-color: rgb(210,60,0);
    --white-hover-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.d-none{
    display: none;
}