form.register-login-form{
    background-color: var(--primary-color);
    padding: 25px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 10% auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.login-h1{
    text-align: center;
    margin-top: 30px;
    font-size: 58px;
}
h2{
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
}
select{
    width: 100%;
    max-width: 500px;
    border: 2px solid #fff;
    padding: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
}
option{
    color: #000;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    max-width: 500px;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}
input:focus{
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.9);
}
.register-login-form button{
    background-color: transparent;
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
    padding: 15px;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}
.register-login-form button:hover{
    color: var(--primary-color);
    background-color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
@media(max-width: 648px){
    form{
        margin: 10% 10px;
    }
}