.user-list, .group-list, .competition-list{
    margin: 70px auto;
    width: 70%;

    .title{
        display: flex;
        align-items: flex-end;

        span{
            margin-left: 5px;
            font-size: 24px;
            cursor: pointer;
            a{
                color: #000;
            }
        }
    }

    .users-header{
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        background-color: var(--primary-color);
        padding: 15px;
        color: #fff;

        div{
            margin: auto;
            width: calc(100% / 6);
            text-align: center;
        }
    }

    .user-row{
        display: flex;
        justify-content: space-between;
        padding: 15px;

        div{
            margin: auto;
            width: calc(100% / 6);
            text-align: center;

            button{
                width: 30px;
                height: 30px;
                border: none;
                cursor: pointer;
                color: #fff;
                margin-left: 5px;
                border-radius: 3px;
            }

            
            button:first-child{
                background-color: var(--success-color);
            }
            button:nth-child(2){
                background-color: var(--danger-color)
            }
            button:nth-child(3){
                background-color: var(--primary-color)
            }
            button:nth-child(4){
                background-color: var(--primary-color)
            }
            button:first-child:hover{
                background-color: var(--success-hover-color);
            }
            button:nth-child(2):hover{
                background-color: var(--danger-hover-color);
            }
            button:nth-child(3):hover{
                background-color: var(--primary-hover-color);
            }
            button:nth-child(4):hover{
                background-color: var(--primary-hover-color);
            }
        }
    }

    .user-row:nth-child(even){
        background-color: var(--secondary-color);
        color: #fff
    }
    .user-row:nth-child(even):hover{
        box-shadow: inset 0 0 100px 100px var(--secondary-hover-color);
    }
    .user-row:nth-child(odd){
        color:#000;
    }
    .user-row:nth-child(odd):hover{
        background-color: var(--white-hover-color);
    }
}

.delete-buttons, .edit-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;

    button{
        border: none;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        color: #fff;
        margin-top: 15px;
        font-size: 18px;
    }
    button:hover{
        color: #fff !important;
    }
    button:first-child{
        background-color: var(--success-color);
    }
    button:first-child:hover{
        background-color: var(--success-hover-color);
    }
    button:last-child{
        background-color: var(--danger-color);
    }
    button:last-child:hover{
        background-color: var(--danger-hover-color);
    }
}

.edit-user-form{
    background-color: var(--secondary-color) !important;
}

.w-500{
    max-width: 500px;
}

.assign-groups{
    margin: 80px auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    border-radius: 3px;

    .assign-group-list{

        span {
            font-size: 22px;
        }

        button{
            border: none;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
            color: #fff;
            margin-top: 15px;
            font-size: 18px;
            background-color: var(--success-color);
            margin-left: 15px;
            transition: all 0.5s;
        }

        button.remove{
            background-color: var(--danger-color);
        }
        button.remove:hover{
            background-color: var(--danger-hover-color);
        }

        button:hover{
            background-color: var(--success-hover-color);
        }
    }
}

.assign-tasks{
    margin: 80px auto;
    width: 50%;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 3px;
    padding: 15px;

    h3, p{
        text-align: center;
    }

    .task{
        width: 70%;
        margin: auto;
        padding-left: 45px;

        input{
            width: 10%;
        }

        label{
            font-size: 18px;
        }

    }
    button{
        border: none;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        color: #fff;
        margin-top: 15px;
        font-size: 18px;
        background-color: var(--secondary-color);
        margin-left: 15px;
        transition: all 0.5s;
    }
    button:hover{
        background-color: var(--darken-secondary-color);
    }
}